@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Toastify__progress-bar {
  background: #065F46 !important; 
}
/* Tailwind emerald-800 */
/*
.Toastify__toast--success .Toastify__toast-icon {
  color: #FFFFFF !important; 
}*/ /* White check mark */